@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

:root {
  /* Colors */
  --color-dark: hsl(230, 35%, 7%);
  --color-light-blue: hsl(231, 77%, 90%);
  --color-white: hsl(0, 0%, 100%);

  /* Typography */
  --family-main: "Barlow", sans-serif;
  --family-2: "Bellefair", serif;
  --family-3: "Barlow Condensed", sans-serif;

  --fs-heading-1: 150px;
  --fs-heading-2: 100px;
  --fs-heading-3: 56px;
  --fs-heading-4: 32px;
  --fs-heading-5: 28px;
  --fs-subheading-1: 28px;
  --fs-subheading-2: 14px;
  --fs-nav-text: 16px;
  --fs-body-text: 18px;

  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  margin: 0;
  font-family: var(--family-main);
  color: var(--color-white);
  font-weight: var(--fw-regular);
}

.bg-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.home {
  background-image: url("assets/images/home/bg-home-tablet.jpg");

  @media (min-width: 1440px) {
    background-image: url("assets/images/home/bg-home-desktop.jpg");
  }
}

.destination {
  background-image: url("assets/images/destination/bg-destination-desktop.jpg");
}

.crew {
  background-image: url("assets/images/crew/bg-crew-desktop.jpg");
}

.technology {
  background-image: url("assets/images/technology/bg-technology-desktop.jpg");
}